# الملف ده بيترفع عادي علي جيتهاب بيكو فيه اسماء المتغيرات فقط بدون القيم السريه 
#عشان لما اي حد ينزل المشروع يعمل .env خاصه بيه
PORT=3000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key